{% extends "base.html" %}

{% block body %}
  <div class="container">
    <!-- Title of the page here -->
    <div class="row">
      <h1>Home Page</h1>
    </div>
    <hr>

    <!-- New Row for the content -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-7">
        <!-- Divider for header -->
        <div class="header">
            <h3>Top 10 Movies by Genre</h3>
            <select id="selGenre"> 
            </select>
        </div>

        <hr>
        <!-- Divider place holder for Pie Chart  -->
        <div id="Top10byGenre"></div>

      </div>
        
      <!-- 2nd Column -->
      <div class="col-md-5">
        <div class="header">
          <h3>Histogram filter by Genre</h3>
        </div>
        <hr>
      </div>
  {% include "dependency.html" %}

  <script src="../static/js/genre.js"></script>

{% endblock %}