{% extends "base.html" %}

{% block body %}

  <div class="container">
    <!-- Title of the page here -->
    <div class="row">
      <h1>Home Page</h1>
    </div>
    <hr>

    <!-- New Row for the content -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-6">

        <div class="header">
          <h3>Project Motivation</h3>
          <hr>
          <h5>The purpose of this web page is to help Netflix users understand how the popularity of movies is impacted by genre, language and time. Users can also perform their own movie search to obtain information about a specific movie</h5>
        </div>
        <br>

        <div class="header">
          <h3>Netflix and chill</h3>
          <br>
          <img src="https://i.insider.com/60819fe2354dde0018c06a66?width=600" alt="Netflix">
        </div>
        <hr>
      </div>

      <!-- Second Column -->
      <div class="col-md-6">
        <!-- Divider for header -->
        <div class="header">
          <h3>Number of movies released from 2015</h3>
        </div>

        <hr>
        <!-- Divider place holder for Pie Chart  -->
        <div id="MovieCountPeryear"></div>

      </div>
        

  {% include "dependency.html" %}

  <script src="../static/js/index.js"></script>

{% endblock %}