{% extends "base.html" %}

{% block body %}
  <div class="container">
    <!-- Title of the page here -->
    <div class="row">
      <h1>Statistic By Genre</h1>
    </div>
    <hr>

    <!-- New Row for the content -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-7">
        <!-- Divider for header -->
        <div class="header">
            <h3>Top 10 by Genre</h3>
            <select id="selGenre"> 
            </select>
        </div>

        <hr>
        <!-- Divider place holder for Pie Chart  -->
        <div id="Top10byGenre"></div>

      </div>
        
      <!-- 2nd Column -->
      <div class="col-md-5">
        <div class="header">
          <h3>Histogram filter by Genre</h3>
        </div>
        <hr>
        
        <div class="row">
          <div class="col-md-6">
            <a target="_blank" href="visualisations/lat_vs_Cloudiness.png">
            <img src="visualisations/lat_vs_Cloudiness.png" alt="Histogram filter by Genre" width="290" height="290">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "dependency.html" %}

  <script src="../static/js/genre.js"></script>

{% endblock %}