{% extends "base.html" %}

{% block body %}
  <div class="container">
    <!-- Title of the page here -->
    <div class="row">
      <h1>Statistics By Genre</h1>
    </div>
    <hr>

    <!-- New Row for the content -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-6">
        <!-- Divider for header -->
        <div class="header">
            <h3>Top 10 movies by genre</h3>
            <select id="selGenre"> 
            </select>
        </div>

        <hr>
        <!-- Divider place holder for Bar Chart  -->
        <div id="Top10byGenre"></div>
      </div>

      <!-- Divider place holder for Pie Chart -->

      <div class="col-md-6">
        <div class="header">
          <h3>Percentage of movies by genre</h3>
          <br>
          <hr>
          <div id="GenrePieChart"></div>
      </div>
    
    </div>
  </div>


    <hr>
    <div class="container">
    <!-- Second row -->
    <div class="row">
        
      <div class="col-md-12">
        <div class="header">
          <h3>Genres filtered by language</h3>
      </div>

      <div class="row">
        <div class="col-md-6">   
          <select id="selLanguage"> </select>
          <hr>
          <div id="GenreFilterLanguage"></div>
        </div>

        <div class="col-md-6">   
          <select id="selLanguage2"> </select>
          <hr>
          <div id="GenreFilterLanguage2"></div>
        </div>

      </div>
    </div>
  </div>
</div>
  {% include "dependency.html" %}

  <script src="../static/js/genre.js"></script>

{% endblock %}