{% extends "base.html" %} {% block body %}

<div class="container">
  <!-- First Row -->
  <div class="row">
    <div class="col-md-7">
      <br />

      <div class="header">
        <h3>Count of available movie in each country heat map with tooltip</h3>
      </div>
      <br />
      <hr />
      <div id="map" style="height: 400px"></div>

      <br />
    </div>
    <!-- First (and only column) -->
    <div class="col-md-5">
      <div class="header">
        <br />

        <h3>Count of availble movie in each language</h3>
      </div>
      <br />

      <hr />
    </div>
  </div>
</div>
{% include "dependency.html" %}
<script src="../static/js/logic.js"></script>
{% endblock %}
