{% extends "base.html" %} {% block body %}

<div class="container">
  <!-- Our columns function in rows. -->
  <div class="row">
    <div class="col-md-12">{% include "navbar.html" %}</div>
  </div>
</div>

<!-- Creates the Overall Grid -->
<div class="container">
  <!-- First Row -->
  <div class="row">
    <div class="col-md-7">
      <br />
      <br />
      <br />

      <div class="header">
        <h3>Count of available movie in each country heat map with tooltip</h3>
      </div>
      <br />
      <hr />
      <div id="map"></div>

      <br />
    </div>
    <!-- First (and only column) -->
    <div class="col-md-5">
      <div class="header">
        <br />
        <br />
        <br />
        <h3>Count of availble movie in each language</h3>
      </div>
      <br />
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "dependency.html" %}
<script src="../static/js/logic.js"></script>
{% endblock %}
