{% extends "base.html" %} {% block body %}

<div class="container">
  <div class="row">
    <h1>Statistics By Country</h1>
  </div>
  <hr />
  <!-- First Row -->
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <h3>Number of available movies per country</h3>
      </div>
      <hr />
      <div id="map" style="height: 400px"></div>
    </div>
  </div>

  <!-- Second Row -->
  <br />
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <h3>Count of available movies per country</h3>
      </div>
      <hr />
      <div id="map2" style="height: 400px"></div>
    </div>
  </div>
</div>
{% include "dependency.html" %}

<!-- Leaflet-Choropleth JavaScript -->
<script type="text/javascript" src="static/js/choropleth.js"></script>

<!-- Marker Cluster JS -->
<script
  type="text/javascript"
  src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
></script>
<script src="../static/js/logic.js"></script>

{% endblock %}
